#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=AudioVideo;
Comment=Graphical interface for youtube-dl
Encoding=UTF-8
Exec=gydl
GenericName=Youtube Downloader GUI
Icon=gydl
Name=Gydl
Terminal=false
Type=Application
