#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=AudioVideo;
Comment=Graphical interface to youtube-dl
Encoding=UTF-8
Exec=/usr/bin/gydl
GenericName=Graphical Youtube-dl
Icon=Youtube-youtube.com
Name=Gydl
Terminal=false
Type=Application
